@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&display=swap');


.Logo {
  width: 200px;
}

a {
  text-decoration: none;
  color: rgba(255, 254, 254, 0.545);
  outline: none;
}

h1 {
  font-family: 'Bitter', serif;
  font-weight: 100;
  outline: none;
}

.navbar {
  background: none
}

body {
  background-color: white
}

.cartShopping {
  color: #ffc8dd;
  margin-top: 5px;
}


/*ITEMCOUNT.JSX*/


.divCount div {
  display: flex;
}

.divCount p {
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 12px;
}

.buttonCount {
  margin: 10px;
  width: 30px;
  height: 30px;
  background-color: #ffc8dd;
  border-radius: 15px;
}

.buttonAgregarCarrito {
  background-color: #ffc8dd;
  font-family: 'Alegreya Sans', sans-serif;
  border-radius: 14px;
}

/*ITEM.JSX*/
.itemCard {
  margin: 10px;
  width: 300px;
}

.itemCard a {
  font-family: 'Bitter', serif;
  color: black;

}

.itemCard img {
  height: 300px;

}

.itemCardBodyTitle {
  text-align: center;
}

/*ITEMLIST.JSX*/

.divItemList {
  margin-left: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
}

/*ITEMDETAIL.JSX*/

.container {
  margin-top: 30px;
}

.detail {
  display: flex;
  margin-left: 290px;
}

.detail img {
  width: 300px;
  height: 350px;
  border-radius: 5px;
}

.content {
  margin-left: 30px;
  margin-top: 90px;
}

.content a {
  color: black;
}

.aItemDetail {
  background-color: #ffc8dd;
  font-family: 'Alegreya Sans', sans-serif;
  border-radius: 14px;
  font-size: 20px
}

/*CART.JSX*/

.divCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divACart {
  background-color: #ffc8dd;
  border-radius: 15px;
}

.aCartFin {
  background-color: #ffc8dd;
  font-family: 'Alegreya Sans', sans-serif;
  border-radius: 14px;
  font-size: 20px;
}

.aCartFin a {
  color: black;
}


/*ITEMCART.JSX*/

.ItemCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.ItemCart img {
  width: 200px;
  height: 250px;
}


.divItemCart {
  font-family: 'Alegreya Sans', sans-serif;
  ;
  margin-left: 30px;
}

.divItemCart button {
  background-color: #ffc8dd;
  border-radius: 10px;
}

.pCart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bitter', serif;
}


/*CHECKOUT*/

.divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divForm p {
  font-family: 'Bitter', serif;
  font-weight: 100;
  outline: none;
  font-size: 35px;
}

.divForm input {
  margin: 13px;
  border-radius: 5px;
}

input,
textarea {
    margin-left: .75rem;
    background-color: transparent;
    border: none;
    border-bottom: #ffffff solid 1px;
    color: #000000;
    padding: .5rem;
    resize: none;
    width: calc(100% - 30px);

    transition: border-bottom .2s;
}

input:focus,
    textarea:focus {
        outline: none;
        border-bottom: #faacac solid 1px;
    }


/*CARTWIDGET.JSX*/

.spanPrendas {
  color: black;
  font-size: 12px;
 }

 
/*Media Queries*/
@media (max-width: 900px) {
  .divItemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 45px;
    align-items: center;
    margin-left: 0px;
  }
}
  @media (max-width: 1000px) {
    .detail {
      margin-left: 0px;
    }
  }